:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkCLR: #181818;
  --liClr: whitesmoke;
  --accClr: #0d0d35;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--dkCLR);
  color: var(--liClr);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegurar que el contenido use toda la pantalla */
}
#gameCanvas {
  width: 100vw;
  height: 100vw; /* Para que mantenga proporción cuadrada en móviles */
  max-width: 500px;
  max-height: 500px;
  position: relative; /* Mejor que absolute para evitar desbordes */
  margin: 0 auto;
  display: none;
  border: 1px solid black;
  z-index: 1;
}

.gameUI {
    width: 100%;
    height: 100vh; /* Ocupar toda la pantalla */
    padding: 10px; /* Evitar que el contenido se pegue demasiado a los bordes */
    box-sizing: border-box;
  background-color: var(--accClr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameUI * {
  text-align: center;
}


.gameUI img {
  height: 35vh;
  width: auto;
  margin-bottom: 20px;
}

#gameCanvas {
  display: none;
}

#startGameDiv {
  display: flex;
}

#endGameDiv {
  display: none;
}

#gameStartButton {
  display: inline-block;
  width: 100px;
  padding: 8px 15px;
  margin: 20px 0;
  text-align: center;
  font-family: inherit;
  border-radius: 10px;
}

#gameStartButton p {
  margin-top: 0;
}

#gameStartButton:hover {
  background-color: var(--dkCLR);
  color: var(--liClr);
  border: 0.5px solid var(--liClr);
  cursor: pointer;
}

#videoCont {
  display: flex;
  flex-direction: column;
  border: solid var(--liClr);
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 0;
  background-color: var(--dkCLR);
}

#videoCont p {font-size: 20px;}

.mobile-controls {
  position: absolute;
  bottom: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  z-index: 10;
  display: none; /* Oculto por defecto */
}

.mobile-controls button {
  background-color: var(--accClr);
  color: white;
  border: 2px solid white;
  padding: 20px 30px;
  font-size: 24px;
  border-radius: 10px;
}
.mobile-controls button:active {
  background-color: var(--liClr);
  color: var(--accClr);
}

.mobile-controls button {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html, body {
  overflow-x: hidden;
  max-width: 100vw;
}


@media (min-width: 576px){
  .mobile-controls button{
    display: none;
  } 
}

@media (max-width: 576px){
  body{max-width: 100%; margin: 0;}
  .mobile-controls button{
    display: flex;
  } 
}